<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-center">
                    Hey, I am Vivek and I live in Bangalore, India. I have experience of doing web development using Ruby on Rails for about 4 years now in which I have worked on <strong>HTML</strong>, <strong>CSS</strong>, <strong>SASS</strong> for designing websites, <strong>POSTGRES</strong>, <strong>MYSQL</strong>, <strong>MONGODB</strong>, <strong>COUCHDB</strong> for databases, various JS frameworks like <strong>BACKBONE</strong>, <strong>ANGULAR</strong> and I have also worked on technologies like <strong>XMPP</strong>, <strong>NODE.JS</strong>, <strong>TITANIUM</strong>.
                </p>
                <p class="text-center">
                    I also love <strong>CYCLING</strong> and working on some weird ideas of mine.
                </p>
            </div>
        </div>
    </div>
</section>
