<!-- Portfolio Grid Section -->
{% assign service_name = page.path | replace: 'services/', '' %}
{% assign post = site.posts | where: 'service_name', service_name | first %}
<section id="services_content">
    <div class="container">
        <div class="row">
            <p>
                {{ post.description }}
            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jlwGcgFfcnU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
