body {
  background: #000;
  overflow:hidden;
  font-family: "Raleway";
  color: #fff;
}
::-webkit-scrollbar { 
  display: none; 
}
nav.navbar {
  background: rgba(0,0,0,0.7);
  height: 70px;
}
.navbar-default {
  border-color: #444;
}
.navbar-brand {
  font-size: 25px;
  padding: 25px 25px;
  color: #fff !important;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #aaa;
}
#explore {
  background: rgba(255,0,0,0.6);
  width: 40%;
  position: fixed;
  left: 60%;
  top: 200px;
  border-radius: 4px;
}
#explore h2, #explore h3, #explore h4 {
  text-align: center;
  margin-top: 20px;
}
#explore .btn {
  background: transparent;
  border-color: #fff;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}
#explore .separator {
  width: 100px;
  background: #fff;
  height: 1px;
  margin: 20px auto;
}
